<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body>
      <header>
         <nav>
            <% include ../partials/nav %>
         </nav>
      </header>
      <main>
         <div class='logo-n-name'>
            <h2><%=systemsArr.name%></h2>
            <img class="system-show-img"src="<%=systemsArr.img%>" alt="">
         </div>
         <hr>
         <div class="stats">
            <h2>System Stats</h2>
            <h3 >Logo: <img class="logo" src="<%=systemsArr.logo%>" alt=""></h3>
            <h3>Brand: <%=systemsArr.brand%></h3>
            <h3>Release Date: <%=systemsArr.releaseDate%></h3>
         </div>
         <a  href="/systems/edit/<%=systemsArr._id%>">Edit this page</a>
         <hr>
         <div class="available-games">
            <h2>Available Games</h2>
            <% for(var i = 0; i < systemsArr.games.length; i++){ %>
               <a href="/games/<%=systemsArr.games[i]._id%>"><img src="<%=systemsArr.games[i].img%>" alt=""></a>
            <% } %>
         </div>
         <form class="delete" action="/systems/<%=systemsArr._id%>?_method=DELETE" method="post">
            <input type="submit" name="" value="Delete This System"/>
         </form>
      </main>
   </body>
</html>
