<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body>
      <header>
         <nav>
            <% include ../partials/nav %>
         </nav>
      </header>
      <section>
         <h1><%=gamesArr.title%></h1>
         <img src="<%=gamesArr.img%>" alt="">
      </section>
      <section>
         <h2>Stats</h2>
         <h3>Title: <%=gamesArr.title%></h3>
         <h3>Release Date: <%=gamesArr.releaseDate%></h3>
         <h3>Genre: <%=gamesArr.genre%></h3>
         <h3>MSRP: <%=gamesArr.msrp%></h3>
      </section>
      <section>
         <h3>available on:</h3>
         <% if(systemsArr.length === 1){ %>
               <a href="/systems/<%=systemsArr[0]._id;%>"><img src="<%=systemsArr[0].logo;%>" alt=""></a>
         <% } else { %>
            <% for(var i = 0; i < systemsArr.length; i++) { %>
               <a href="/systems/<%=systemsArr[i]._id;%>"><img src="<%=systemsArr[i].logo;%>" alt=""></a>
            <% } %>
         <% } %>
      </section>
      <div class="">
         <form class="delete" action="/games/<%=gamesArr._id%>?_method=DELETE" method="post">
            <input type="submit" name="" value="Delete This Game"/>
      </div>
   </body>
</html>
