<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <section>
         <h1><%=gamesArr.title%></h1>
         <img src="<%=gamesArr.img%>" alt="">
      </section>
      <section>
         <h2>Stats</h2>
         <h3>Title: <%=gamesArr.title%></h3>
         <h3>Release Date: <%=gamesArr.releaseDate%></h3>
         <h3>Genre: <%=gamesArr.genre%></h3>
      </section>
   </body>
</html>
